   <header class="bg-warning">
   
    <nav class="navbar navbar-expand-lg container">
      <div class="container-fluid">

      <img src="images/Logo ADJJ 2.png" alt="logo" style="width:9em">

    <a class="navbar-brand px-3 fs-3" href="{{path("home")}}">ADJJ | GRACIE BARRA</a>

    <img src="images/GRACIE BARRA jaune.png" style="width:7em" class="mx-2" alt="">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse fs-4 justify-content-end" id="navbarNavDropdown">
      <ul class="navbar-nav">

        <li class="nav-item"><a class="nav-link" href="{{path("home")}}">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path("inscription")}}">Inscriptions</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path("cours")}}">Nos cours</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path("tarifs")}}">Tarifs</a></li>
       
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ADJJ
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{path("professeurs")}}">Nos entraîneurs</a></li>
            <li><a class="dropdown-item" href="{{path("notre_histoire")}}">Notre histoire</a></li>
            <li><a class="dropdown-item" href="{{path("actualites")}}">Actualités</a></li>
            <li><a class="dropdown-item" href="{{path("stages_competitions")}}">Stages et compétitions</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> 
    </header>

<div id="curseur" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#curseur" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#curseur" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#curseur" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#curseur" data-bs-slide-to="3" aria-label="Slide 4"></button>
  </div>

  <div class="mb-3">
      <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="images/brazilian-jiu-jitsu-2957075_1280.jpg" class="d-block w-100 object-fit-cover" alt="..." style="height: 400px">
      </div>
      <div class="carousel-item">
        <img src="images/jjb-enfant.jpg" class="d-block w-100 object-fit-cover" alt="..." style="height: 400px">
      </div>
      <div class="carousel-item">
        <img src="images/jjb femme2.jpg" class="d-block w-100 object-fit-cover" alt="..." style="height: 400px">
      </div>
      <div class="carousel-item">
        <img src="images/jjb-couche-recupere.jpg" class="d-block w-100 object-fit-cover" alt="..." style="height: 400px">
      </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#curseur" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#curseur" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>

<div class="container mb-2">
  <hr>
</div>
   
   </header> 
    
  

      <!--http://192.168.17.24/projet_adjj/  -->

    <!-- <div class="container">
      <div class="row">
        <div class="col">
        <h2 class="display-5 text-center py-2 border-bottom">Honneur - Discipline - Bravoure</h2>
        </div>
      </div>
    </div> -->

